@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #007bff;
}

section {
    max-width: 750px;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}


h2 {
    font-family: 'Roboto', sans-serif;
    color: #007bff;
    text-align: center;
}

dl {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 20%;
    
}

dl ::first-letter{ /* solo toma la primera letra de cada inicio de un elemento*/ 
    text-transform: capitalize;
}


dt {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
dd {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-left: 0; /* Alinear a la izquierda */
    text-align: left;
}


dt::after {
    content: ":";
}

/* Añadir un poco de espacio entre los bloques dl */
dl:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

